In [1]:
import pandas as pd
import numpy as np

# Create a date range spanning 365 days
date_range = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')

# Create two random value columns
values1 = np.random.randint(low=0, high=10000, size=len(date_range))
values2 = np.random.randint(low=0, high=10000, size=len(date_range))

# Create the DataFrame with the datetime column and the two value columns
df = pd.DataFrame({'datetime': date_range, 'value1': values1, 'value2': values2})
df.head()

    datetime  value1  value2
0 2022-01-01    8356    1133
1 2022-01-02     333    9385
2 2022-01-03     524    7890
3 2022-01-04      88    2491
4 2022-01-05    2019    4948

In [2]:
import pandas as pd
import numpy as np

# Define the start time, end time, and frequency
start_time = '00:00:00'
end_time = '23:59:59'
freq = '15min'

# Create a time range between start and end times at the given frequency
time_range = pd.date_range(start='2023-01-19 ' + start_time, end='2023-02-18 ' + end_time, freq=freq)

# Create two random float value columns
values1 = np.random.uniform(low=-100, high=100, size=len(time_range))
values2 = np.random.uniform(low=-100, high=100, size=len(time_range))

# Create the DataFrame with the time series column and the two value columns
df = pd.DataFrame({'time': time_range, 'value1': values1, 'value2': values2})
df.head()

                 time     value1     value2
0 2023-01-19 00:00:00  67.734838  85.217103
1 2023-01-19 00:15:00 -66.403451 -42.095196
2 2023-01-19 00:30:00 -71.118039  46.284084
3 2023-01-19 00:45:00 -58.823625  72.528924
4 2023-01-19 01:00:00 -62.743495 -12.096792

In [3]:
import pandas as pd
import numpy as np

# Create a time range at 15 minute intervals for one day
time_range = pd.date_range(start='2023-01-19 00:00:00', end='2023-02-18 23:45:00', freq='15min')

# Create a dictionary to store the columns
columns = {'time': time_range}

# Create 98 additional columns with random integer values between 1 and 100
for i in range(1, 101):
    column_name = 'value' + str(i)
    values = np.random.randint(1, 10000, size=len(time_range))
    columns[column_name] = values

# Create a DataFrame with the time series column and the additional value columns
df = pd.DataFrame(columns)
df.head()

,time,value1,value2,value3,value4,value5,value6,value7,value8,value9,...,value91,value92,value93,value94,value95,value96,value97,value98,value99,value100
0,2023-01-19 00:00:00,3074,8226,5766,4841,4710,884,1160,1757,8209,...,6056,4427,5255,9645,9630,4039,4294,7057,9786,8433
1,2023-01-19 00:15:00,9362,9087,6524,1521,9542,1536,3284,2353,949,...,2518,6715,2004,8574,3692,2012,9228,1768,3069,7529
2,2023-01-19 00:30:00,3921,4520,2127,3725,203,5485,5793,5986,8766,...,1895,1291,7789,6748,6603,6798,8413,3129,8371,9395
3,2023-01-19 00:45:00,7763,5817,8085,118,3411,5507,3003,8005,2823,...,6400,3024,9774,3688,6509,9489,2811,1442,3561,9932
4,2023-01-19 01:00:00,3103,3950,8461,7144,3193,1427,8010,922,2070,...,5701,6138,6197,1515,201,7430,7698,2618,2897,6450

In [4]:
import pandas as pd
import numpy as np

# Create a time range at 15 minute intervals for one day
time_range = pd.date_range(start='2023-01-19 00:00:00', end='2023-02-18 23:45:00', freq='15min')

# Create a dictionary to store the columns
columns = {'time': time_range}

# Create 98 additional columns with random integer values between 1 and 100
for i in range(1, 101):
    column_name = 'value' + str(i)
    values = np.random.choice([0, np.random.randint(1, 10000)], size=len(time_range), p=[0.98, 0.02])
    columns[column_name] = values

# Create a DataFrame with the time series column and the additional value columns
df = pd.DataFrame(columns)
df.head()

,time,value1,value2,value3,value4,value5,value6,value7,value8,value9,...,value91,value92,value93,value94,value95,value96,value97,value98,value99,value100
0,2023-01-19 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2023-01-19 00:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2023-01-19 00:30:00,0,0,0,0,0,0,0,0,0,...,0,0,6204,0,0,0,0,0,0,0
3,2023-01-19 00:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3487,0,0,0,0,0
4,2023-01-19 01:00:00,0,4821,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0