In [1]:
import pandas as pd
import yfinance as yf

In [2]:
# fixed data so sample data will stay the same
df = yf.download('MSFT')
df = df.tail(10)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-27,238.699997,238.929993,235.830002,236.960007,236.960007,16688600
2022-12-28,236.889999,239.720001,234.169998,234.529999,234.529999,17457100
2022-12-29,235.649994,241.919998,235.649994,241.009995,241.009995,19770700
2022-12-30,238.210007,239.960007,236.660004,239.820007,239.820007,21930800
2023-01-03,243.080002,245.750000,237.399994,239.580002,239.580002,25740000
2023-01-04,232.279999,232.869995,225.960007,229.100006,229.100006,50623400
2023-01-05,227.199997,227.550003,221.759995,222.309998,222.309998,39585600
2023-01-06,223.000000,225.759995,219.350006,224.929993,224.929993,43597700
2023-01-09,226.449997,231.240005,226.410004,227.119995,227.119995,27369800
2023-01-10,227.759995,231.309998,227.330002,228.850006,228.850006,27013600

In [3]:
old = df['Open'] >= 230
old

Date
2022-12-27     True
2022-12-28     True
2022-12-29     True
2022-12-30     True
2023-01-03     True
2023-01-04     True
2023-01-05    False
2023-01-06    False
2023-01-09    False
2023-01-10    False
Name: Open, dtype: bool

In [4]:
df = df.astype({'Open':'float',
                'High':'float',
                'Low':'float',
                'Close':'float',
                'Adj Close':'float',
                'Volume':'float'})

In [5]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [6]:
# is the adj close different from the close?
df['Close Comparison'] = df['Adj Close'].ne(df['Close'])
df

,Open,High,Low,Close,Adj Close,Volume,Close Comparison
Date,,,,,,,
2022-12-27,238.699997,238.929993,235.830002,236.960007,236.960007,16688600.0,False
2022-12-28,236.889999,239.720001,234.169998,234.529999,234.529999,17457100.0,False
2022-12-29,235.649994,241.919998,235.649994,241.009995,241.009995,19770700.0,False
2022-12-30,238.210007,239.960007,236.660004,239.820007,239.820007,21930800.0,False
2023-01-03,243.080002,245.750000,237.399994,239.580002,239.580002,25740000.0,False
2023-01-04,232.279999,232.869995,225.960007,229.100006,229.100006,50623400.0,False
2023-01-05,227.199997,227.550003,221.759995,222.309998,222.309998,39585600.0,False
2023-01-06,223.000000,225.759995,219.350006,224.929993,224.929993,43597700.0,False
2023-01-09,226.449997,231.240005,226.410004,227.119995,227.119995,27369800.0,False
2023-01-10,227.759995,231.309998,227.330002,228.850006,228.850006,27013600.0,False

In [7]:
# is the close greater than the open?
df['Bool Price Increase'] = df['Close'].gt(df['Open'])
df

,Open,High,Low,Close,Adj Close,Volume,Close Comparison,Bool Price Increase
Date,,,,,,,,
2022-12-27,238.699997,238.929993,235.830002,236.960007,236.960007,16688600.0,False,False
2022-12-28,236.889999,239.720001,234.169998,234.529999,234.529999,17457100.0,False,False
2022-12-29,235.649994,241.919998,235.649994,241.009995,241.009995,19770700.0,False,True
2022-12-30,238.210007,239.960007,236.660004,239.820007,239.820007,21930800.0,False,True
2023-01-03,243.080002,245.750000,237.399994,239.580002,239.580002,25740000.0,False,False
2023-01-04,232.279999,232.869995,225.960007,229.100006,229.100006,50623400.0,False,False
2023-01-05,227.199997,227.550003,221.759995,222.309998,222.309998,39585600.0,False,False
2023-01-06,223.000000,225.759995,219.350006,224.929993,224.929993,43597700.0,False,True
2023-01-09,226.449997,231.240005,226.410004,227.119995,227.119995,27369800.0,False,True
2023-01-10,227.759995,231.309998,227.330002,228.850006,228.850006,27013600.0,False,True

In [8]:
# was the volume greater than 20m?
df['High Volume'] = df['Volume'].ge(20000000)
df

,Open,High,Low,Close,Adj Close,Volume,Close Comparison,Bool Price Increase,High Volume
Date,,,,,,,,,
2022-12-27,238.699997,238.929993,235.830002,236.960007,236.960007,16688600.0,False,False,False
2022-12-28,236.889999,239.720001,234.169998,234.529999,234.529999,17457100.0,False,False,False
2022-12-29,235.649994,241.919998,235.649994,241.009995,241.009995,19770700.0,False,True,False
2022-12-30,238.210007,239.960007,236.660004,239.820007,239.820007,21930800.0,False,True,True
2023-01-03,243.080002,245.750000,237.399994,239.580002,239.580002,25740000.0,False,False,True
2023-01-04,232.279999,232.869995,225.960007,229.100006,229.100006,50623400.0,False,False,True
2023-01-05,227.199997,227.550003,221.759995,222.309998,222.309998,39585600.0,False,False,True
2023-01-06,223.000000,225.759995,219.350006,224.929993,224.929993,43597700.0,False,True,True
2023-01-09,226.449997,231.240005,226.410004,227.119995,227.119995,27369800.0,False,True,True
2023-01-10,227.759995,231.309998,227.330002,228.850006,228.850006,27013600.0,False,True,True

In [9]:
# was the close greater than yesterday's close?
df['Close (t-1)'] = df['Close'].shift(-1)
df['Bool Over Time Increase'] = df['Close'].gt(df['Close'].shift(-1))
df

,Open,High,Low,Close,Adj Close,Volume,Close Comparison,Bool Price Increase,High Volume,Close (t-1),Bool Over Time Increase
Date,,,,,,,,,,,
2022-12-27,238.699997,238.929993,235.830002,236.960007,236.960007,16688600.0,False,False,False,234.529999,True
2022-12-28,236.889999,239.720001,234.169998,234.529999,234.529999,17457100.0,False,False,False,241.009995,False
2022-12-29,235.649994,241.919998,235.649994,241.009995,241.009995,19770700.0,False,True,False,239.820007,True
2022-12-30,238.210007,239.960007,236.660004,239.820007,239.820007,21930800.0,False,True,True,239.580002,True
2023-01-03,243.080002,245.750000,237.399994,239.580002,239.580002,25740000.0,False,False,True,229.100006,True
2023-01-04,232.279999,232.869995,225.960007,229.100006,229.100006,50623400.0,False,False,True,222.309998,True
2023-01-05,227.199997,227.550003,221.759995,222.309998,222.309998,39585600.0,False,False,True,224.929993,False
2023-01-06,223.000000,225.759995,219.350006,224.929993,224.929993,43597700.0,False,True,True,227.119995,False
2023-01-09,226.449997,231.240005,226.410004,227.119995,227.119995,27369800.0,False,True,True,228.850006,False
2023-01-10,227.759995,231.309998,227.330002,228.850006,228.850006,27013600.0,False,True,True,NaN,False

In [10]:
# did the open and close price match the predictions?
predictions = [236.96, 223.36, 241.01, 239.82, 221, 245, 202.84, 224.93, 310, 193.93]
df2 = df[['Open','Close']].round(2).eq(predictions, axis='index')
df2

             Open  Close
Date
2022-12-27  False   True
2022-12-28  False  False
2022-12-29  False   True
2022-12-30  False   True
2023-01-03  False  False
2023-01-04  False  False
2023-01-05  False  False
2023-01-06  False   True
2023-01-09  False  False
2023-01-10  False  False