In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame(np.random.randint(0,100000, size=(4, 8)), 
            index = pd.date_range('2016-01-01', periods=4),
            columns=pd.MultiIndex.from_tuples([('A', 'ENDC'), ('A', 'NRDC'), ('B', 'ENDC'), ('B', 'NRDC'),  ('C', 'ENDC'), ('C', 'NRDC'), ('D', 'ENDC'), ('D', 'NRDC')]))

df

                A             B             C             D
             ENDC   NRDC   ENDC   NRDC   ENDC   NRDC   ENDC   NRDC
2016-01-01  43155  85223  90221  61903  20015  61291   8722  46005
2016-01-02  37831  91967  51534  43780  75410  76672  31480  34358
2016-01-03   5487  26440  24010  57657  45547  12675  16478  33062
2016-01-04  55062  21082  61505  61344  41832  25089  47922  82289

In [3]:
# calculate the column totals for the 'ENDC' columns
endc_totals = df.loc[:, pd.IndexSlice[:, 'ENDC']].sum()

# sort the DataFrame by the 'ENDC' column totals in descending order
df_sorted = df.loc[:, (endc_totals.sort_values(ascending=False).index)]

# create a new list of tuples to represent the reordered columns, including both 'ENDC' and 'NRDC'
new_cols = []
for col in df_sorted.columns:
    if col[1] == 'ENDC':
        new_cols.append(col)
        nrdc_col = (col[0], 'NRDC')
        if nrdc_col in df.columns:
            new_cols.append(nrdc_col)

# reorder the columns
df_sorted = df[new_cols]

df_sorted

                B             C             A             D
             ENDC   NRDC   ENDC   NRDC   ENDC   NRDC   ENDC   NRDC
2016-01-01  90221  61903  20015  61291  43155  85223   8722  46005
2016-01-02  51534  43780  75410  76672  37831  91967  31480  34358
2016-01-03  24010  57657  45547  12675   5487  26440  16478  33062
2016-01-04  61505  61344  41832  25089  55062  21082  47922  82289

In [4]:
df_sorted.loc['Total'] = df_sorted.sum()

In [5]:
df_sorted

                          B               C               A               D
                       ENDC    NRDC    ENDC    NRDC    ENDC    NRDC    ENDC
2016-01-01 00:00:00   90221   61903   20015   61291   43155   85223    8722  \
2016-01-02 00:00:00   51534   43780   75410   76672   37831   91967   31480
2016-01-03 00:00:00   24010   57657   45547   12675    5487   26440   16478
2016-01-04 00:00:00   61505   61344   41832   25089   55062   21082   47922
Total                227270  224684  182804  175727  141535  224712  104602


                       NRDC
2016-01-01 00:00:00   46005
2016-01-02 00:00:00   34358
2016-01-03 00:00:00   33062
2016-01-04 00:00:00   82289
Total                195714