In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(0, 100000, size=(4, 8)), 
                  index=pd.date_range('2016-01-01', periods=4),
                  columns=pd.MultiIndex.from_tuples([('A', 'ENDC'), ('A', 'NRDC'), ('B', 'ENDC'), ('B', 'NRDC'), ('C', 'ENDC'), ('C', 'NRDC'), ('D', 'ENDC'), ('D', 'NRDC')]))
df

                A             B             C             D
             ENDC   NRDC   ENDC   NRDC   ENDC   NRDC   ENDC   NRDC
2016-01-01    194   4669  61568  75009  51555   6879  82900  59445
2016-01-02  94440  27096  26331  46297      4  78431  10641  57598
2016-01-03  83971  28303  48523  21180  96477  88138  16912  15782
2016-01-04  50395   8686  36905  49115  56967   5792  76950  72404

In [3]:
# Calculate the sum of values per 'ENDC' column
sum_per_endc = df.xs('ENDC', level=1, axis=1).sum()
sum_per_endc

A    229000
B    173327
C    205003
D    187403
dtype: int64

In [4]:
# Sort the DataFrame by the sum of 'ENDC' values in descending order
endc_sorted_df = df[sum_per_endc.sort_values(ascending=False).index].copy()
endc_sorted_df

                A             C             D             B
             ENDC   NRDC   ENDC   NRDC   ENDC   NRDC   ENDC   NRDC
2016-01-01    194   4669  51555   6879  82900  59445  61568  75009
2016-01-02  94440  27096      4  78431  10641  57598  26331  46297
2016-01-03  83971  28303  96477  88138  16912  15782  48523  21180
2016-01-04  50395   8686  56967   5792  76950  72404  36905  49115

In [5]:
# Calculate the sum for the last row and assign it to 'Total'
endc_sorted_df.loc['Total'] = endc_sorted_df.sum()
endc_sorted_df

                          A              C               D               B  \
                       ENDC   NRDC    ENDC    NRDC    ENDC    NRDC    ENDC
2016-01-01 00:00:00     194   4669   51555    6879   82900   59445   61568
2016-01-02 00:00:00   94440  27096       4   78431   10641   57598   26331
2016-01-03 00:00:00   83971  28303   96477   88138   16912   15782   48523
2016-01-04 00:00:00   50395   8686   56967    5792   76950   72404   36905
Total                229000  68754  205003  179240  187403  205229  173327


                       NRDC
2016-01-01 00:00:00   75009
2016-01-02 00:00:00   46297
2016-01-03 00:00:00   21180
2016-01-04 00:00:00   49115
Total                191601

In [6]:
# Calculate the sum of values per 'NRDC' column
sum_per_nrdc = df.xs('NRDC', level=1, axis=1).sum()
sum_per_nrdc

A     68754
B    191601
C    179240
D    205229
dtype: int64

In [7]:
# Sort the DataFrame by the sum of 'NRDC' values in descending order
nrdc_sorted_df = df[sum_per_nrdc.sort_values(ascending=False).index].copy()
nrdc_sorted_df

                D             B             C             A
             ENDC   NRDC   ENDC   NRDC   ENDC   NRDC   ENDC   NRDC
2016-01-01  82900  59445  61568  75009  51555   6879    194   4669
2016-01-02  10641  57598  26331  46297      4  78431  94440  27096
2016-01-03  16912  15782  48523  21180  96477  88138  83971  28303
2016-01-04  76950  72404  36905  49115  56967   5792  50395   8686

In [8]:
# Calculate the sum for the last row and assign it to 'Total'
nrdc_sorted_df.loc['Total'] = nrdc_sorted_df.sum()
nrdc_sorted_df

                          D               B               C               A  \
                       ENDC    NRDC    ENDC    NRDC    ENDC    NRDC    ENDC
2016-01-01 00:00:00   82900   59445   61568   75009   51555    6879     194
2016-01-02 00:00:00   10641   57598   26331   46297       4   78431   94440
2016-01-03 00:00:00   16912   15782   48523   21180   96477   88138   83971
2016-01-04 00:00:00   76950   72404   36905   49115   56967    5792   50395
Total                187403  205229  173327  191601  205003  179240  229000


                      NRDC
2016-01-01 00:00:00   4669
2016-01-02 00:00:00  27096
2016-01-03 00:00:00  28303
2016-01-04 00:00:00   8686
Total                68754