In [1]:
import pandas as pd 
import numpy as np

In [2]:
animal = pd.DataFrame(
{'name': ['lion', 'tiger', 'panda', 'giraffe', 'xyz-unkown'], 
 'species': ['mammal', 'mammal', 'mammal', 'mammal', 'mammal'], 
 'endangered': [True, True, True, False, None]}
)
animal

         name species endangered
0        lion  mammal       True
1       tiger  mammal       True
2       panda  mammal       True
3     giraffe  mammal      False
4  xyz-unkown  mammal       None

In [3]:
condition_list = [
    (animal["endangered"] == True),
    (animal["endangered"] == False)
]
choice_list = [
    "endangered",
    "not endangered"
]
animal["status"] = np.select(
    condlist = condition_list,
    choicelist = choice_list,
    default = "unknown",
)
animal

         name species endangered          status
0        lion  mammal       True      endangered
1       tiger  mammal       True      endangered
2       panda  mammal       True      endangered
3     giraffe  mammal      False  not endangered
4  xyz-unkown  mammal       None         unknown