In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_seq_items', None)
pd.set_option('display.max_rows', None)

In [3]:
data = {'product_name': ['pencil', 'eraser', 'pen', 'desk', 'laptop','laptop','pen','pencil','pen','eraser','gift','pencil',np.nan],
        'price': [2, 1, 1, 50, 678,500,2,5,3,-9,-2,-1,10], 
        'owner': ['Chi','Joe','Dan','Lisa','Rose','Chi','Dan','Lisa','Joe','Rose','Jen','Dan','Mike']}

df = pd.DataFrame(data)
df.head()

  product_name  price owner
0       pencil      2   Chi
1       eraser      1   Joe
2          pen      1   Dan
3         desk     50  Lisa
4       laptop    678  Rose

In [4]:
df.style.hide_columns('price')

In [5]:
df.style.highlight_null(null_color='yellow')

In [6]:
df.groupby('owner').agg({'price':'sum'}).style.highlight_max(color='yellowgreen')

In [7]:
df.groupby('owner').agg({'price':'sum'}).style.highlight_min(color='salmon')

In [8]:
df[['price']].style.highlight_quantile(q_left=0.9, axis=None, color='gold')

In [9]:
np.random.seed(100)
df2 = pd.DataFrame({'A': np.linspace(1, 8, 10)})
df2 = pd.concat([df2, pd.DataFrame(np.random.randn(8, 4), columns=list('BCDE'))],
               axis=1)
df2.iloc[3, 1] = np.nan
df2.iloc[1, 1] = np.nan
df2.head()

          A         B         C         D         E
0  1.000000 -1.749765  0.342680  1.153036 -0.252436
1  1.777778       NaN  0.514219  0.221180 -1.070043
2  2.555556 -0.189496  0.255001 -0.458027  0.435163
3  3.333333       NaN  0.816847  0.672721 -0.104411
4  4.111111 -0.531280  1.029733 -0.438136 -1.118318

In [10]:
cm = sns.light_palette('purple', as_cmap=True)
df2.style.background_gradient(cmap=cm)

In [11]:
cm = sns.light_palette('red', as_cmap=True)
df2.style.text_gradient(cmap=cm)

In [12]:
df2.style.bar(subset=['A', 'B'], align='zero', color=['crimson', 'yellowgreen'])

In [13]:
df2.style.set_caption('Data').background_gradient()

In [14]:
def mean_greater(m):
    greater = m > m.mean()
    return ['background-color: dodgerblue' if i else 'background-color: hotpink' for i in greater]

df2.style.apply(mean_greater)