In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = {'product_name': ['pencil', 'eraser', 'pen', 'desk', 'laptop','laptop','pen','pencil','pen','eraser','gift','pencil', np.nan],
        'price': [2, 1, 1, 50, 678,500,2,5,3,-9,-2,-1,10], 
        'owner': ['Chi','Joe','Dan','Lisa','Rose','Chi','Dan','Lisa','Joe','Rose','Jen','Dan','Mike']}

df = pd.DataFrame(data)
df

   product_name  price owner
0        pencil      2   Chi
1        eraser      1   Joe
2           pen      1   Dan
3          desk     50  Lisa
4        laptop    678  Rose
5        laptop    500   Chi
6           pen      2   Dan
7        pencil      5  Lisa
8           pen      3   Joe
9        eraser     -9  Rose
10         gift     -2   Jen
11       pencil     -1   Dan
12          NaN     10  Mike

## Hiding column

In [3]:
df.style.hide('price', axis=1)

## Highlighting null values

In [4]:
df.style.highlight_null(color='yellow')

## Highlighting min/max values

In [5]:
df.groupby('owner').agg({'price':'sum'}).reset_index().style.highlight_max(color='green', subset=['price'])

In [6]:
df.groupby('owner').agg({'price':'sum'}).reset_index().style.highlight_min(color = 'red', subset=['price'])

## Highlighting quantile

In [7]:
df[['price']].style.highlight_quantile(q_left=0.9, axis=None, color='yellow')

## Creating heatmap

In [8]:
np.random.seed(100)
df3 = pd.DataFrame({'A': np.linspace(1, 8, 10)})
df3 = pd.concat([df3, pd.DataFrame(np.random.randn(8, 4), columns=list('BCDE'))],
               axis=1)
df3.iloc[3, 1] = np.nan
df3.iloc[1, 1] = np.nan
df3

          A         B         C         D         E
0  1.000000 -1.749765  0.342680  1.153036 -0.252436
1  1.777778       NaN  0.514219  0.221180 -1.070043
2  2.555556 -0.189496  0.255001 -0.458027  0.435163
3  3.333333       NaN  0.816847  0.672721 -0.104411
4  4.111111 -0.531280  1.029733 -0.438136 -1.118318
5  4.888889  1.618982  1.541605 -0.251879 -0.842436
6  5.666667  0.184519  0.937082  0.731000  1.361556
7  6.444444 -0.326238  0.055676  0.222400 -1.443217
8  7.222222       NaN       NaN       NaN       NaN
9  8.000000       NaN       NaN       NaN       NaN

In [9]:
cm = sns.light_palette('pink', as_cmap=True)
df3.style.background_gradient(cmap=cm)

In [10]:
cm = sns.light_palette('green', as_cmap=True)
df3.style.text_gradient(cmap=cm)

## Creating bar chart

In [11]:
df3.style.bar(subset=['A', 'B'], align='zero', color=['pink', 'lightgreen'])

## Adding caption

In [12]:
df3.style.set_caption('Chi Nguyen Medium Data').background_gradient()

## Styling with an own method

In [13]:
#Define function
def mean_greater(m):
    greater = m > m.mean()
    return ['background-color: lightblue' if i else 'background-color: pink' for i in greater]
#Apply function
df3.style.apply(mean_greater)