In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

In [2]:
ticker = yf.Ticker('AAPL')

In [ ]:
historical_data = ticker.history(period='max')

In [ ]:
historical_data.reset_index(inplace=True)
historical_data.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1,1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
2,1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0
3,1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
4,1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0
5,1980-12-19 00:00:00-05:00,0.097852,0.098285,0.097852,0.097852,48630400,0.0,0.0
6,1980-12-22 00:00:00-05:00,0.102614,0.103048,0.102614,0.102614,37363200,0.0,0.0
7,1980-12-23 00:00:00-05:00,0.106945,0.107378,0.106945,0.106945,46950400,0.0,0.0
8,1980-12-24 00:00:00-05:00,0.112573,0.113006,0.112573,0.112573,48003200,0.0,0.0
9,1980-12-26 00:00:00-05:00,0.122964,0.123397,0.122964,0.122964,55574400,0.0,0.0

In [ ]:
# Using the Ticker function to create a ticker object.
# ticker symbol of tesla is TSLA
df = yf.Ticker('AF.PA')

# history function helps to extract stock information.
# setting period parameter to max to get information for the maximum amount of time.
df2 = df.history(period='730D',interval='1wk')

# Resetting the index
df2.reset_index(inplace=True)

# display the first five rows
df2.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-09-28 00:00:00+02:00,3.043,3.056,2.780,2.872,23335328,0.0,0.0
1,2020-10-05 00:00:00+02:00,2.920,3.394,2.877,3.195,30767934,0.0,0.0
2,2020-10-12 00:00:00+02:00,3.203,3.227,2.859,3.001,18685705,0.0,0.0
3,2020-10-19 00:00:00+02:00,3.010,3.368,2.990,3.290,22603965,0.0,0.0
4,2020-10-26 00:00:00+01:00,3.163,3.338,2.614,2.810,34431552,0.0,0.0

In [ ]:
df2.dtypes

Date            datetime64[ns, Europe/Paris]
Open                                 float64
High                                 float64
Low                                  float64
Close                                float64
Volume                                 int64
Dividends                            float64
Stock Splits                         float64
dtype: object

In [ ]:
df2.insert(1, 'DATE', df2['Date'].dt.strftime('%Y-%m-%d %H:%M:%S'))
df2.drop('Date', axis=1, inplace=True)
df2.dtypes

DATE             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
dtype: object

In [ ]:
df2.head(10)

,DATE,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-09-28 00:00:00,3.043,3.056,2.780,2.872,23335328,0.0,0.0
1,2020-10-05 00:00:00,2.920,3.394,2.877,3.195,30767934,0.0,0.0
2,2020-10-12 00:00:00,3.203,3.227,2.859,3.001,18685705,0.0,0.0
3,2020-10-19 00:00:00,3.010,3.368,2.990,3.290,22603965,0.0,0.0
4,2020-10-26 00:00:00,3.163,3.338,2.614,2.810,34431552,0.0,0.0
5,2020-11-02 00:00:00,2.755,3.206,2.620,3.075,35650478,0.0,0.0
6,2020-11-09 00:00:00,3.136,4.500,3.103,3.895,71047242,0.0,0.0
7,2020-11-16 00:00:00,4.050,4.564,4.000,4.226,44946264,0.0,0.0
8,2020-11-23 00:00:00,4.306,5.544,4.294,5.396,55451393,0.0,0.0
9,2020-11-30 00:00:00,5.418,5.510,4.935,5.254,35779864,0.0,0.0