In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(data={'idx': ['idx1', 'idx2', 'idx3',  'idx4',  'idx5'], 
                        '2022-11-01': [5, 2, np.nan,  np.nan,  np.nan], 
                        '2022-11-02': [3, np.nan,  np.nan,  np.nan, 10], 
                        '2022-11-03': [6, np.nan, 10, 22, 28], 
                        '2022-11-04': [75, 8, 4, 15, 30],
                        '2022-11-05': [60, 11,  np.nan, 80, 10], 
                        '2022-11-06': [45, 90, 4, 8,  np.nan], 
                        '2022-11-07': [3, 83, 4,  np.nan,  np.nan]})

In [3]:
df.head()

,idx,2022-11-01,2022-11-02,2022-11-03,2022-11-04,2022-11-05,2022-11-06,2022-11-07
0,idx1,5.0,3.0,6.0,75,60.0,45.0,3.0
1,idx2,2.0,NaN,NaN,8,11.0,90.0,83.0
2,idx3,NaN,NaN,10.0,4,NaN,4.0,4.0
3,idx4,NaN,NaN,22.0,15,80.0,8.0,NaN
4,idx5,NaN,10.0,28.0,30,10.0,NaN,NaN

In [4]:
df.loc[:, df.columns[1]:] = df.loc[:, df.columns[1]:].notnull()

In [5]:
df

,idx,2022-11-01,2022-11-02,2022-11-03,2022-11-04,2022-11-05,2022-11-06,2022-11-07
0,idx1,True,True,True,True,True,True,True
1,idx2,True,False,False,True,True,True,True
2,idx3,False,False,True,True,False,True,True
3,idx4,False,False,True,True,True,True,False
4,idx5,False,True,True,True,True,False,False

In [6]:
for i in range(len(df.index)):  
    if (df.loc[i, df.columns[1]] == df.loc[i, df.columns[2]] == df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]]) == True:
        df.loc[i, 'Mask'] = 'OK'
    
    if (df.loc[i, df.columns[1]] == df.loc[i, df.columns[2]] == df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]]) == True:
        df.loc[i, 'Mask'] = 'OK'
    
    if (df.loc[i, df.columns[1]] == df.loc[i, df.columns[2]] == df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]] == df.loc[i, df.columns[6]]) == True:
        df.loc[i, 'Mask'] = 'OK'
        
    if (df.loc[i, df.columns[1]] == df.loc[i, df.columns[2]] == df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]] == df.loc[i, df.columns[6]] == df.loc[i, df.columns[7]]) == True:
        df.loc[i, 'Mask'] = 'OK'
        
    else:
        df.loc[i, 'Mask'] = 'NOK'

In [7]:
for i in range(len(df.index)):
    if df.loc[i, 'Mask'] == 'NOK':
        if (df.loc[i, df.columns[2]] == df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]]) == True:
            df.loc[i, 'Mask'] = 'OK'
            
        if (df.loc[i, df.columns[2]] == df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]] == df.loc[i, df.columns[6]]) == True:
            df.loc[i, 'Mask'] = 'OK'
            
        if (df.loc[i, df.columns[2]] == df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]] == df.loc[i, df.columns[6]] == df.loc[i, df.columns[7]]) == True:
            df.loc[i, 'Mask'] = 'OK'

In [8]:
for i in range(len(df.index)):
    if df.loc[i, 'Mask'] == 'NOK':
        if (df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]]) == True:
            df.loc[i, 'Mask'] = 'OK'
            
        if (df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]] == df.loc[i, df.columns[6]]) == True:
            df.loc[i, 'Mask'] = 'OK'
            
        if (df.loc[i, df.columns[3]] == df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]] == df.loc[i, df.columns[6]] == df.loc[i, df.columns[7]]) == True:
            df.loc[i, 'Mask'] = 'OK'

In [9]:
for i in range(len(df.index)):
    if df.loc[i, 'Mask'] == 'NOK':
        if (df.loc[i, df.columns[4]] == df.loc[i, df.columns[5]] == df.loc[i, df.columns[6]] == df.loc[i, df.columns[7]]) == True:
            df.loc[i, 'Mask'] = 'OK'

In [10]:
df

,idx,2022-11-01,2022-11-02,2022-11-03,2022-11-04,2022-11-05,2022-11-06,2022-11-07,Mask
0,idx1,True,True,True,True,True,True,True,OK
1,idx2,True,False,False,True,True,True,True,OK
2,idx3,False,False,True,True,False,True,True,NOK
3,idx4,False,False,True,True,True,True,False,OK
4,idx5,False,True,True,True,True,False,False,OK

In [11]:
idxlist=[]

for i in range(len(df.index)):
    if df.loc[i, 'Mask'] == 'OK':
        idxlist.append(df.loc[i, 'idx'])

In [12]:
idxlist

['idx1', 'idx2', 'idx4', 'idx5']